{% extends 'header.html' %}

{% block login %}



{% endblock %}

{% block body %}

     <div class="container">
          <h3 class="title">Your files:</h3>

 	    {% if files %}
               <table>
                  <tr>
                     <th>Name</th>
                     <th>Size</th>
                     <th></th>
                     <th></th>
                  </tr>
                  {% for data in files %}
                  <tr>
                     <td>{{ data[0] }} &emsp;</td>
                     <td>{{ data[1] }} &emsp;</td>
                     <td>
                     	<a class="tb-btn" href="{{ data[2] }}" download>Download &emsp;</a>
                     </td>

                     
                  </tr>
                  {% endfor %}
               </table>
	    {% else %}
	    You don't have any files here.
	    {% endif %}


        <form action="/slyko/">
           <input class="btn" type="submit" value="Back" />
        </form>

     </div>


{% endblock %}